 <configuration>
        <system.webServer>
           <staticContent>
              <mimeMap fileExtension=".json" mimeType ="text/json" />
              <mimeMap fileExtension=".unity3d" mimeType ="application/octet-stream" />
              <mimeMap fileExtension=".unityweb" mimeType ="application/binary" />
           </staticContent>
        </system.webServer> 
</configuration>